<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.CodeMapper">

    <select id="getCodeList" resultType="com.example.demo.domain.Code">
        SELECT * FROM CodeT
        <where>
            <if test="code != null and code != ''">
                AND codeId LIKE CONCAT(CONCAT('%', #{code}), '%')
            </if>
            <if test="codeCategoryName != null and codeCategoryName != ''">
                AND codeCategoryName LIKE CONCAT(CONCAT('%', #{codeCategoryName}), '%')
            </if>
            <if test="isActive != null">
                AND isActive = #{isActive}
            </if>
        </where>

    </select>

    <select id="getTotalCount">
        select count(*) from CodeT
    </select>

    <insert id="save">
        INSERT INTO codeT (codeId, codeCategoryName, codeDescription,taskType, isStandardCode, isActive)
        VALUES (#{codeId}, #{codeCategoryName}, #{codeDescription},#{taskType}, #{isStandardCode}, #{isActive})
    </insert>

    <select id="existsByCodeId" resultType="boolean">
        SELECT COUNT(*)
        FROM codeT
        WHERE codeId = #{codeId}
    </select>

    <update id="modify">
        UPDATE CodeT
        SET
        codeCategoryName = #{codeCategoryName},
        codeDescription = #{codeDescription},
        taskType = #{taskType},
        isStandardCode = #{isStandardCode},
        isActive = #{isActive}
        WHERE codeId = #{codeId}
    </update>

    <delete id="delete">
        delete from codeT where codeId = #{codeId}
    </delete>


    <select id="existsByDetailCode" resultType="boolean">
        SELECT COUNT(*)
        FROM codeDetailT
        WHERE detailCode = #{detailCode} AND codeId = #{codeId}
    </select>


    <insert id="detailSave">
        INSERT INTO codeDetailT (
        detailCode,
        codeId,
        codeNameKor,
        codeNameEng,
        codeOther,
        isActive,
        displayOrder,
        Remarks,
        etc1,
        etc2,
        etc3,
        etc4
        )
        VALUES (
        #{detailCode},
        #{codeId},
        #{codeNameKor},
        #{codeNameEng},
        #{codeOther},
        #{isActive},
        #{displayOrder},
        #{remarks},
        #{etc1},
        #{etc2},
        #{etc3},
        #{etc4}
        )
    </insert>


    <update id="detailModify">
        UPDATE codeDetailT
        SET
        codeNameKor = #{codeNameKor},
        codeNameEng = #{codeNameEng},
        codeOther = #{codeOther, jdbcType=VARCHAR},
        isActive = #{isActive},
        displayOrder = #{displayOrder},
        Remarks = #{remarks},       <!-- 비고 -->
        etc1 = #{etc1},             <!-- 기타 1 -->
        etc2 = #{etc2},             <!-- 기타 2 -->
        etc3 = #{etc3},             <!-- 기타 3 -->
        etc4 = #{etc4}              <!-- 기타 4 -->
        WHERE
        detailCode = #{detailCode} and codeId = #{codeId}
    </update>

    <delete id="detailDelete">
        delete from codeDetailT where detailCode = #{detailCode}
    </delete>








<!-- insert 배치 쿼리 인데 안되네;  / open="DECLARE BEGIN" close="; END;" 이거넣어서 이제되긴하는데 문제생길수도 있다네 -->
    <insert id="insertBatch">
        INSERT ALL
        <foreach collection="list" item="CodeDetail" separator=" ">
            INTO codeDetailT (
            detailCode,
            codeId,
            codeNameKor,
            codeNameEng,
            isActive,
            codeOther,
            displayOrder,
            Remarks,
            etc1,
            etc2,
            etc3,
            etc4
            )
            VALUES (
            #{CodeDetail.detailCode, jdbcType=VARCHAR},
            #{CodeDetail.codeId, jdbcType=VARCHAR},
            #{CodeDetail.codeNameKor, jdbcType=VARCHAR},
            #{CodeDetail.codeNameEng, jdbcType=VARCHAR},
            #{CodeDetail.isActive, jdbcType=INTEGER},
            #{CodeDetail.codeOther, jdbcType=VARCHAR},
            #{CodeDetail.displayOrder, jdbcType=INTEGER},
            #{CodeDetail.remarks, jdbcType=VARCHAR},
            #{CodeDetail.etc1, jdbcType=VARCHAR},
            #{CodeDetail.etc2, jdbcType=VARCHAR},
            #{CodeDetail.etc3, jdbcType=VARCHAR},
            #{CodeDetail.etc4, jdbcType=VARCHAR}
            )
        </foreach>
        SELECT * FROM dual;
    </insert>






    <!--     update 배치 쿼리인데 안됨;   open="DECLARE BEGIN" close="; END;" 이거붙히고나서 되긴하는데 문제생길수있다는데-->
    <update id="updateBatch">
        <foreach collection="list" item="item" separator=";" open="DECLARE BEGIN" close="; END;">
            UPDATE codeDetailT
            SET
            <trim prefix=" " suffixOverrides=",">
                <if test="item.codeNameKor != null">codeNameKor = #{item.codeNameKor},</if>
                <if test="item.codeNameEng != null">codeNameEng = #{item.codeNameEng},</if>
                <if test="item.codeOther != null">codeOther = #{item.codeOther, jdbcType=VARCHAR},</if>
                <if test="item.isActive != null">isActive = #{item.isActive},</if>
                <if test="item.displayOrder != null">displayOrder = #{item.displayOrder},</if>
                <if test="item.remarks != null">Remarks = #{item.remarks, jdbcType=VARCHAR},</if>
                <if test="item.etc1 != null">etc1 = #{item.etc1, jdbcType=VARCHAR},</if>
                <if test="item.etc2 != null">etc2 = #{item.etc2, jdbcType=VARCHAR},</if>
                <if test="item.etc3 != null">etc3 = #{item.etc3, jdbcType=VARCHAR},</if>
                <if test="item.etc4 != null">etc4 = #{item.etc4, jdbcType=VARCHAR}</if>
            </trim>
            WHERE detailCode = #{item.detailCode}
        </foreach>
    </update>

    <!-- 배치 삭제 쿼리  인데 이건되네 ;-->
    <delete id="deleteBatch">
        DELETE FROM codeDetail
        WHERE detailCode IN
        <foreach collection="list" item="codeDetailId" open="(" separator="," close=")">
            #{detailCode}
        </foreach>
    </delete>


</mapper>
